.c-card {
  background-color: $white;
  width: 279px;
  height: 440px;
  border-radius: 6px;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  @media screen and (max-width: $xs) {
    width: 230px;
  }
  .c-card-header {
    height: 177px;

    &__initials {
      height: 177px;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #333333;
    }
  }

  .c-card-content {
    padding: 16px !important;
    box-sizing: border-box;
    color: $darkGrey;
    p {
      margin: 0;
      line-height: 1.31;
    }
  }
}
