.c-project-select {
    &__indicator {
        transform: rotate(180deg);
        transition: $global-transition !important;
    }

    &__indicator-separator {
        display: none;
    }

    &__input {
        input {
            font-family: $fontFamiliy !important;
            text-transform: uppercase !important;
            font-weight: bold !important;
        }
    }

    &__control {
        margin-bottom: 30px;
        border-radius: 20px !important;
        border: 0 !important;
        font-family: $fontFamiliy !important;
        text-transform: uppercase !important;
        font-weight: bold !important;

        &--is-focused {
            box-shadow: none !important;
            border: 0 !important;
        }

        &--menu-is-open {
            .c-project-select__indicator {
                transform: rotate(0deg) !important;
            }
        }

    }

    &__menu {
        margin-top: 0px !important;
    }

    &__option {
        color: $darkGrey !important;
        background: none !important;

        &:hover {
            background: $lightGrey !important;
        }
    }
}