.c-tree-species {
    &__dropdown {
        border: 1px solid $lightGrey;
        align-items: center;
        min-height: 35px;
        margin-bottom: 20px;
    }
    &__header-text {
        width: 100%;
        text-align: center;
    }
    &__collapse-button {
        width: 18px;
        height: 18px;
        transform: rotate(90deg);
        transition: $global-transition;
        margin-right: 14px;
        cursor: pointer;
        &:focus, &:hover {
          outline: none;
          opacity: 0.5;
        }
        &--open {
          transform: rotate(-90deg);
        }
    }
}
