.search-pa>div:first-of-type {
  @apply flex flex-row-reverse bg-white rounded-lg;
}

.search-pa>div:first-of-type input {
  @apply pl-[6px];
}

.filter-button-pa{
  @apply !mb-4
}

.filter-button-pa span {
  @apply text-neutral-950 text-sm font-bold lg:text-base wide:text-md tracking-normal opacity-100;
}

.filter-button-pa button {
  @apply text-neutral-950 text-sm font-bold lg:text-base wide:text-md tracking-normal px-4 py-2 rounded-lg border border-solid border-neutral-300 bg-white;
}

.filter-button-pa span {
  @apply text-neutral-950 text-sm font-bold lg:text-base wide:text-md tracking-normal opacity-100;
}

.filter-button-pa button {
  @apply text-neutral-950 text-sm font-bold lg:text-base wide:text-md tracking-normal px-4 py-2 rounded-lg border border-solid border-neutral-300 bg-white;
}

.select-pa div{
 @apply !bg-white !rounded-lg
}

.button-aside-pa {
  @apply !w-full !bg-white !border !border-solid !border-primary-500 !uppercase !leading-[normal] !px-4 !py-[10.5px] !rounded-lg hover:!bg-grey-900 disabled:!border-transparent disabled:!bg-grey-750 !text-primary-500 disabled:!text-grey-730 !text-xs !font-bold lg:!text-sm wide:!text-base;
}

.button-pa {
  @apply !text-neutral-950 !bg-white !text-sm !font-bold lg:!text-base wide:!text-md !tracking-normal !px-4 !py-2 !rounded-lg !border !border-solid !border-neutral-300 !mb-4;
}

.button-pa:hover {
  @apply !bg-grey-800
}

.button-pa span {
  @apply !text-neutral-950 !text-sm !font-bold lg:text-base wide:text-md tracking-normal;
}

.RaCreateButton-root{
  @apply !text-neutral-950 !bg-white !text-sm !font-bold lg:text-base wide:text-md !tracking-normal !px-4 !py-2 !rounded-lg !border !border-solid !border-neutral-300 !mb-4;
}

.RaCreateButton-root:hover {
  @apply !bg-grey-800
}

.RaCreateButton-root span {
  @apply !text-neutral-950 !text-sm !font-bold lg:text-base wide:text-md tracking-normal;
}

.RaMenuItemLink-icon{
 color: inherit !important
}

.MuiToolbar-regular > div{
  @apply items-center !p-0 !items-end
}
.MuiToolbar-regular form{
  @apply items-center !p-0 !items-end
}

.MuiToolbar-regular form .ra-input{
  @apply !m-0 !mb-4
}

.RaLayout-appFrame {
  @apply !mt-[70px]
}
.RaSidebar-fixed ul {
  @apply gap-4
}

.RaLayout-content {
  @apply !bg-neutral-100 !p-8;
}

.RaList-main > span {
  @apply mt-4;
}

.RaList-main div {
  @apply min-h-0;
}

.RaDatagrid-tableWrapper .RaDatagrid-headerCell:first-child {
  @apply !rounded-tl-lg
}

.RaDatagrid-tableWrapper .RaDatagrid-headerCell:last-child {
  @apply !rounded-tr-lg
}

.RaDatagrid-headerCell span {
  @apply text-sm font-bold lg:text-base wide:text-md tracking-normal whitespace-nowrap
}

.RaDatagrid-rowCell span{
  @apply text-sm font-normal lg:text-base wide:text-md tracking-normal text-grey-300
}

.RaList-content {
  @apply !rounded-lg
}

.RaSidebar-fixed a {
  @apply rounded-lg border-l-[3px] border-transparent border-solid px-3 mx-3 hover:border-primary-500 hover:bg-primary-200 text-grey-300 text-sm font-normal lg:text-base wide:text-md tracking-normal hover:font-bold hover:text-primary-400;
}

.RaAppBar-toolbar {
  @apply !bg-grey-300
}

.RaFilterFormInput-hideButton{
  @apply !mb-4
}

.MuiTableCell-root {
  @apply !py-4;
}

.MuiCheckbox-root {
  @apply !text-neutral-450;
}

.MuiTablePagination-root{
  @apply w-full
}

.MuiTablePagination-toolbar {
  @apply !pl-0 after:content-['Per\00a0page'] after:order-2 after:-ml-6 after:text-neutral-1000 after:text-base after:font-bold after:lg:text-md after:wide:text-lg
}

.MuiTablePagination-spacer {
  @apply hidden
}

.MuiInputBase-root .MuiTablePagination-select {
  @apply w-[70px] flex !py-0 items-center gap-4 !pl-5 !pr-0 bg-white focus:bg-white order-1 rounded-l-lg after:block after:content-[''] after:bg-primary-300 after:rounded-r-lg after:w-11 after:h-12
}

.MuiInputBase-root .MuiTablePagination-select+input {
  @apply h-11 w-11
}

.MuiTablePagination-selectIcon {
  @apply !right-3
}

.MuiTablePagination-selectLabel {
  @apply !hidden
}

.MuiTablePagination-displayedRows {
  @apply hidden
}

.MuiTablePagination-actions {
  @apply order-3 !ml-auto
}

.MuiPagination-text li:first-child button{
  @apply text-primary-500 w-6 h-6
}

.MuiPagination-text li:first-child button svg{
  @apply w-6 h-6
}

.MuiPagination-text li:last-child button{
  @apply text-primary-500 w-6 h-6
}

.MuiPagination-text li:last-child button svg{
  @apply w-6 h-6
}

.MuiPaginationItem-page{
  @apply !text-grey-600 !text-base !font-bold lg:text-md wide:text-lg
}


.MuiPagination-text li .Mui-selected{
  @apply !bg-transparent !text-neutral-1000 text-base font-bold lg:text-md wide:text-lg
}

.MuiTabs-flexContainer a{
  @apply text-grey-300 text-sm lg:text-base wide:text-md capitalize !mx-4 !px-0 
}

.MuiTabs-flexContainer .Mui-selected{
  @apply font-bold !text-grey-300
}

.MuiTabs-indicator {
  @apply !h-1 !bg-primary-500
}

.map-field-pa > :nth-child(7) {
  @apply col-span-3
}

.test :nth-child(1) > ul > :nth-child(7){
  @apply col-span-3
}
.test :nth-child(7) > ul > :nth-child(1){
  @apply col-span-3
}

.label-field-aside{
  @apply !flex !flex-col
}

.label-field-aside p span{
 @apply text-sm font-normal lg:text-base wide:text-md text-grey-700
}

.label-field-aside > span{
 @apply text-sm font-medium lg:text-base wide:text-md text-grey-300 font-primary
}

.RaAppBar-menuButton svg{
  @apply !hidden 
}

.RaAppBar-toolbar > button {
  @apply !hidden !p-0 !m-0
}

.RaAppBar-toolbar h6 {
  @apply !hidden
}

.RaAppBar-toolbar::before{
    content: url('data:image/svg+xml,<svg width="108" height="30" viewBox="0 0 108 30" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M40.9875 13.9449V5.07302H46.1338V2.96484H33.2163V5.07302H38.3625V13.9449H40.9875ZM48.3433 2.96484V13.9449H60.338V11.8368H50.9397V9.42572H57.1806V7.31754H50.9397V5.07302H59.9247V2.96484H48.3433ZM72.8001 6.42499C72.8001 5.60469 72.1482 5.03784 71.0368 5.03784H65.1548V7.87254H71.0516C72.1634 7.87254 72.8001 7.32033 72.8001 6.42499ZM70.0884 9.94636L72.7263 13.7651H75.6595L72.933 9.75237C74.5486 9.30493 75.3781 8.20098 75.3781 6.50043C75.3781 4.39683 73.7782 2.96484 71.3331 2.96484H62.5474V13.7651H65.1544V9.94636H70.0884ZM88.1214 6.42499C88.1214 5.60469 87.4695 5.03784 86.3581 5.03784H80.4761V7.87254H86.3729C87.4847 7.87254 88.1214 7.32033 88.1214 6.42499ZM85.4097 9.94636L88.0476 13.7651H90.9812L88.2547 9.75237C89.8694 9.30493 90.6998 8.20098 90.6998 6.50043C90.6998 4.39683 89.0994 2.96484 86.6544 2.96484H77.8687V13.7651H80.4761V9.94636H85.4097ZM100.48 4.93419L98.124 9.36512H102.836L100.48 4.93419ZM103.932 11.4383L105.162 13.7656H107.8L102.11 2.96484H98.8949L93.1904 13.7656H95.8279L97.0578 11.4383H103.932Z" fill="%2327A9E0"/><path fill-rule="evenodd" clip-rule="evenodd" d="M89.2546 19.8164L89.2545 19.8163L91.6254 18.9659C89.8917 16.8028 87.669 15.7734 84.7801 15.7734C82.6316 15.7734 80.7055 16.43 79.3571 17.5486C78.1419 18.5628 77.5048 19.9207 77.5048 21.4726C77.5048 23.2921 78.4238 24.918 79.8608 25.8134C81.4012 26.7682 83.0021 27.201 84.8982 27.201C87.6985 27.201 89.7136 26.3354 91.4921 24.2917L89.2841 23.0981C88.0247 24.4706 86.5871 25.112 84.7801 25.112C81.935 25.112 80.098 23.605 80.098 21.4726C80.098 19.3836 81.9059 17.8619 84.5725 17.8619C86.4985 17.8619 88.0541 18.6223 89.2545 19.8163L89.2541 19.8164H89.2546ZM46.1365 19.8217V27.4895H48.744V16.6887H45.6918L40.9802 22.4172L36.2685 16.6887H33.2163V27.4895H35.8242V19.8213H35.869L40.9806 26.0127L46.0918 19.8217H46.1365ZM55.6812 23.0886L58.0367 18.6581L60.3933 23.0886H55.6812ZM62.7188 27.4895L61.4888 25.1626H54.6145L53.3845 27.4895H50.7471L56.4515 16.6887H59.667L65.3562 27.4895H62.7188ZM71.3841 27.4895V18.7626H76.4957V16.6887H63.6646V18.7626H68.7762V27.4895H71.3841ZM105.393 22.8353V27.4744H108V16.6887H105.392V20.6269H97.6431V16.6887H95.0356V27.4744H97.6431V22.8353H105.393Z" fill="%238CC63F"/><path d="M22.5917 6.75317V0.5H0V23.2471H6.21145V6.75317H22.5917Z" fill="%2327A9E0"/><path d="M22.5917 6.75391V23.2469H6.21191V29.501H28.8036V6.75391H22.5917Z" fill="%238CC63F"/><path d="M6.21143 23.2469H22.5917V6.75391H6.21143V23.2469Z" fill="%23009344"/><path d="M15.8022 15.7439C16.2931 14.9625 17.3684 14.6486 18.3534 14.4386C18.7861 14.3467 19.2668 14.2332 19.4989 13.8979C19.665 13.6577 19.6594 13.3498 19.5649 13.0812C19.4698 12.8127 19.2945 12.5734 19.1307 12.3314C19.0514 12.2152 18.972 12.0903 18.9734 11.9544C18.9748 11.6543 19.3383 11.4754 19.6391 11.334C19.9399 11.1936 20.2693 10.9282 20.1494 10.6473C20.0935 10.5165 19.9533 10.4314 19.8214 10.3545C18.997 9.87503 18.1001 9.37727 17.1133 9.41341C16.688 9.42897 16.2432 9.54289 15.8474 9.40289C15.5461 9.29583 15.333 9.06068 15.0751 8.88728C14.8146 8.71479 14.5172 8.60483 14.2064 8.56611C13.9771 8.53729 13.7396 8.54644 13.5223 8.61644C13.2704 8.69696 13.0605 8.85297 12.8561 9.00623L11.938 9.69432C11.8305 9.7753 11.718 9.85811 11.5814 9.88922C11.407 9.92856 11.2253 9.87732 11.0509 9.83798C10.5689 9.72913 10.0711 9.70635 9.58106 9.77072C9.29503 9.8087 8.99054 9.89013 8.82169 10.0978C8.57165 10.408 8.73496 10.8413 8.95687 11.1675C9.21 11.5373 9.51974 11.8658 9.87493 12.1411C10.0364 12.2673 10.2228 12.4073 10.2315 12.5972C10.2431 12.8451 9.95013 13.0181 9.86293 13.2542C9.7356 13.6019 10.1097 13.956 10.512 14.0452C10.9139 14.1344 11.3355 14.0511 11.7498 14.0438C11.8467 14.0424 11.9482 14.0456 12.0335 14.0864C12.2397 14.1843 12.2545 14.4405 12.2015 14.6413C12.1479 14.8426 12.0547 15.0544 12.1387 15.247C12.2568 15.5183 12.6573 15.5938 12.9839 15.5554C13.3105 15.517 13.6376 15.4067 13.9605 15.4648C14.3102 15.528 14.5815 15.7782 14.9233 15.8702C15.3039 15.9731 15.5475 16.0413 15.7939 15.7654L15.8022 15.7439Z" fill="white"/><path d="M15.6059 21.4443H13.9658L14.2702 13.9531H15.3324L15.6059 21.4443Z" fill="white"/></svg>');
    height: 30px;
    margin: 20px auto 20px 16px; 
}