@tailwind utilities;

@layer utilities {
  .border-dashed-2 {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='12' ry='12' stroke='%23D8D8D8FF' stroke-width='1' stroke-dasharray='14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  }

  .scroll-indicator-hide::-webkit-scrollbar {
    display: none;
  }

  .scroll-indicator-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    margin-left: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #aeaeae;
    border-radius: 10px;
    padding-left: 5px;
  }

  .font-inherit {
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    line-height: inherit;
    word-spacing: inherit;
  }

  /* Heading */
  .text-heading-2000 {
    @apply font-primary text-5xl font-bold wide:text-7xl;
    letter-spacing: normal;
  }

  .text-heading-1000 {
    @apply font-primary text-4xl font-bold wide:text-6xl;
    letter-spacing: normal;
  }

  .text-bold-headline-1000 {
    @apply font-primary text-4xl font-bold wide:text-6xl;
    letter-spacing: normal;
  }

  .text-bold-headline-800 {
    @apply font-primary text-3xl font-bold wide:text-5xl;
    letter-spacing: normal;
  }

  .text-heading-700 {
    @apply font-primary text-4xl font-bold wide:text-6xl;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
  }

  .text-heading-600 {
    @apply font-primary text-3xl font-bold wide:text-5xl;
    letter-spacing: normal;
  }

  .text-heading-500 {
    @apply font-primary text-2xl font-bold wide:text-4xl;
    line-height: 2rem;
    /* 32px */
    letter-spacing: 1.12408px;
  }

  .text-bold-subtitle-400 {
    @apply font-primary text-lg font-bold wide:text-2xl;
  }

  .text-bold-subtitle-500 {
    @apply font-primary text-lg font-bold leading-[130%] tracking-wide wide:text-2xl;
  }

  .text-bold-subtitle-600 {
    @apply font-primary text-2xl font-bold wide:text-4xl;
  }

  .text-light-subtitle-400 {
    @apply text-md font-light leading-normal wide:text-xl;
  }

  .text-normal-subtitle-400 {
    @apply text-md font-normal leading-normal wide:text-xl;
  }

  .text-bold-subtitle-400 {
    @apply text-md font-bold leading-normal wide:text-xl;
  }

  .text-heading-400 {
    @apply font-primary text-xl font-light wide:text-3xl;
    line-height: 1.5rem;
    /* 32px */
  }

  .text-heading-300 {
    @apply font-primary text-lg font-bold wide:text-2xl;
    line-height: 1.625rem;
    /* 26px */
    letter-spacing: 0.4px;
  }

  .text-heading-200 {
    @apply font-primary text-md font-bold wide:text-xl;
    letter-spacing: normal;
  }

  .text-heading-100 {
    @apply font-primary text-md font-light wide:text-xl;
    letter-spacing: 0.45px;
  }

  /* Caption */
  .text-bold-caption-200 {
    @apply font-primary text-sm font-bold leading-normal wide:text-md;
    font-style: normal;
  }

  .text-light-caption-200 {
    @apply font-primary text-sm font-normal leading-normal wide:text-md;
    font-style: normal;
  }

  .text-bold-caption-100 {
    @apply font-primary text-xs font-bold leading-normal wide:text-base;
    font-style: normal;
  }

  /* Body */
  .text-body-1200 {
    @apply font-primary text-base font-bold wide:text-lg;
    line-height: 1.375rem;
    /* 22px */
    letter-spacing: 0.666667px;
  }

  .text-body-1100 {
    @apply font-secondary text-base font-bold wide:text-lg;
    line-height: 1.5rem;
    /* 24px */
  }

  .text-body-1000 {
    @apply font-secondary text-base font-normal wide:text-lg;
    line-height: 1.5rem;
    /* 24px */
  }

  .text-body-900 {
    @apply font-primary text-base font-bold wide:text-lg;
    line-height: 1.375rem;
    /* 22px */
    letter-spacing: 0.666667px;
  }

  .text-body-800 {
    @apply font-primary text-base font-normal wide:text-lg;
    line-height: 1.5rem;
    /* 24px */
  }

  .text-body-700 {
    @apply font-primary text-base font-light wide:text-lg;
    letter-spacing: 0.666667px;
  }

  .text-body-600 {
    @apply font-primary text-base font-light wide:text-lg;
    line-height: 1.375rem;
    /* 22px */
  }

  .text-body-500 {
    @apply font-primary text-sm font-bold wide:text-md;
    letter-spacing: normal;
  }

  .text-body-400 {
    @apply font-primary text-sm font-normal wide:text-md;
    letter-spacing: normal;
  }

  .text-body-300 {
    @apply font-primary text-sm font-light wide:text-md;
    letter-spacing: normal;
  }

  .text-bold-body-300 {
    @apply text-base font-bold leading-snug tracking-wide wide:text-lg;
  }

  .text-light-body-300 {
    @apply text-base font-light leading-snug wide:text-lg;
  }

  .text-body-200 {
    @apply font-secondary text-sm font-normal wide:text-md;
    line-height: 1.188rem;
    /* 19px */
  }

  .text-body-100 {
    @apply font-primary text-xs font-bold wide:text-base;
    line-height: 1.188rem;
    /* 19px */
  }

  /* Button */
  .text-button-700 {
    @apply font-primary text-sm font-bold text-primary wide:text-md;
    line-height: 170%;
  }

  .text-button-400 {
    @apply font-primary text-base font-bold wide:text-lg;
    line-height: 1rem;
    /* 16px */
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .text-button-300 {
    @apply font-primary text-sm font-bold wide:text-md;
    line-height: 1rem;
    /* 16px */
    text-transform: uppercase;
  }

  .text-button-200 {
    @apply font-primary text-sm font-light wide:text-md;
    letter-spacing: normal;
  }

  .text-button-100 {
    @apply font-primary text-xs font-bold wide:text-base;
    line-height: 1.188rem;
    /* 19px */
  }

  /* Swiper */
  .swiper-button-next,
  .swiper-button-prev {
    @apply flex items-center justify-center rounded-full border border-solid border-white bg-primary;
  }

  .swiper-button-next:after,
  .swiper-button-prev:after {
    content: "" !important;
  }

  .test .swiper-button-next {
    right: var(--swiper-navigation-sides-offset, 55px);
    top: calc(100% - 20px);
    @apply border-transparent bg-[#00000025];
  }

  .test .swiper-button-next svg {
    scale: 1.2;
  }

  .test .swiper-button-prev {
    left: var(--swiper-navigation-sides-offset, 55px);
    top: calc(100% - 20px);
    @apply border-transparent bg-[#00000025];
  }

  .test .swiper-button-prev svg {
    scale: 1.2;
  }

  .swiper-pagination-bullet {
    @apply !bg-white !opacity-100;
  }

  .swiper-pagination-bullet-active {
    @apply !bg-primary opacity-100;
  }

  /* Borders */
  .border-light {
    @apply border border-black border-opacity-12;
  }

  .border-medium {
    border-width: 1.6px;
    @apply border-neutral-500 border-opacity-25;
  }

  /* With-inner-html */
  .with-inner-html > * {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
  }

  .with-inner-html > *:not(strong, b) {
    font-weight: inherit;
  }

  .with-inner-html a {
    @apply text-primary underline;
  }

  .with-inner-html h1 {
    @apply text-bold-headline-1000 mb-2;
  }

  .with-inner-html h2 {
    @apply text-bold-subtitle-500 mb-4;
  }

  .with-inner-html p {
    @apply text-light-body-300 mb-8;
  }

  .with-inner-html p:last-child {
    @apply mb-0;
  }

  .with-inner-html hr {
    @apply my-8 text-neutral-200;
  }

  .with-inner-html ul,
  .with-inner-html ol {
    @apply space-y-3;
  }

  .with-inner-html ul > li {
    @apply flex gap-3;
  }

  .with-inner-html ul > li::before {
    content: "â—";
    @apply text-xl leading-none text-secondary wide:text-3xl;
  }

  .with-inner-html ol > li {
    @apply ml-3 list-decimal;
  }

  /* new Text Styles */

  /* Text 8px */
  .text-8-light {
    @apply text-[8px] font-normal lg:text-[10px] wide:text-xs;
    letter-spacing: normal;
  }

  .text-8 {
    @apply text-[8px] font-medium lg:text-[10px] wide:text-xs;
    letter-spacing: normal;
  }

  .text-8-semibold {
    @apply text-[8px] font-semibold lg:text-[10px] wide:text-xs;
    letter-spacing: normal;
  }

  .text-8-bold {
    @apply text-[8px] font-bold lg:text-[10px] wide:text-xs;
    letter-spacing: normal;
  }

  /* Text 10px */
  .text-10-light {
    @apply text-[10px] font-normal lg:text-xs wide:text-sm;
    letter-spacing: normal;
  }

  .text-10 {
    @apply text-[10px] font-medium lg:text-xs wide:text-sm;
    letter-spacing: normal;
  }

  .text-10-semibold {
    @apply text-[10px] font-semibold lg:text-xs wide:text-sm;
    letter-spacing: normal;
  }

  .text-10-bold {
    @apply text-[10px] font-bold lg:text-xs wide:text-sm;
    letter-spacing: normal;
  }

  /* Text 12px */
  .text-12-light {
    @apply text-xs font-normal lg:text-sm wide:text-base;
    letter-spacing: normal;
  }

  .text-12 {
    @apply text-xs font-medium lg:text-sm wide:text-base;
    letter-spacing: normal;
  }

  .text-12-semibold {
    @apply text-xs font-semibold lg:text-sm wide:text-base;
    letter-spacing: normal;
  }

  .text-12-bold {
    @apply text-xs font-bold lg:text-sm wide:text-base;
    letter-spacing: normal;
  }

  /* Text 13px */
  .text-13-light {
    @apply text-[13px] font-normal lg:text-[15px] wide:text-[17px];
    letter-spacing: normal;
  }

  .text-13 {
    @apply text-[13px] font-medium lg:text-[15px] wide:text-[17px];
    letter-spacing: normal;
  }

  .text-13-semibold {
    @apply text-[13px] font-semibold lg:text-[15px] wide:text-[17px];
    letter-spacing: normal;
  }

  .text-13-bold {
    @apply text-[13px] font-bold lg:text-[15px] wide:text-[17px];
    letter-spacing: normal;
  }

  /* Text 14px */
  .text-14-light {
    @apply text-sm font-normal lg:text-base wide:text-md;
    letter-spacing: normal;
  }

  .text-14 {
    @apply text-sm font-medium lg:text-base wide:text-md;
    letter-spacing: normal;
  }

  .text-14-semibold {
    @apply text-sm font-semibold lg:text-base wide:text-md;
    letter-spacing: normal;
  }

  .text-14-bold {
    @apply text-sm font-bold lg:text-base wide:text-md;
    letter-spacing: normal;
  }

  /* Text 16px */
  .text-16-light {
    @apply text-base font-normal lg:text-md wide:text-lg;
    letter-spacing: normal;
  }

  .text-16 {
    @apply text-base font-medium lg:text-md wide:text-lg;
    letter-spacing: normal;
  }

  .text-16-semibold {
    @apply text-base font-semibold lg:text-md wide:text-lg;
    letter-spacing: normal;
  }

  .text-16-bold {
    @apply text-base font-bold lg:text-md wide:text-lg;
    letter-spacing: normal;
  }

  /* Text 18px */
  .text-18-light {
    @apply text-md font-normal lg:text-lg wide:text-xl;
    letter-spacing: normal;
  }

  .text-18 {
    @apply text-md font-medium lg:text-lg wide:text-xl;
    letter-spacing: normal;
  }

  .text-18-semibold {
    @apply text-md font-semibold lg:text-lg wide:text-xl;
    letter-spacing: normal;
  }

  .text-18-bold {
    @apply text-md font-bold lg:text-lg wide:text-xl;
    letter-spacing: normal;
  }

  /* Text 20px */
  .text-20-light {
    @apply text-lg font-normal lg:text-xl wide:text-2xl;
    letter-spacing: normal;
  }

  .text-20 {
    @apply text-lg font-medium lg:text-xl wide:text-2xl;
    letter-spacing: normal;
  }

  .text-20-semibold {
    @apply text-lg font-semibold lg:text-xl wide:text-2xl;
    letter-spacing: normal;
  }

  .text-20-bold {
    @apply text-lg font-bold lg:text-xl wide:text-2xl;
    letter-spacing: normal;
  }

  /* Text 24px */
  .text-24-light {
    @apply text-xl font-normal lg:text-2xl wide:text-3xl;
    letter-spacing: normal;
  }

  .text-24 {
    @apply text-xl font-medium lg:text-2xl wide:text-3xl;
    letter-spacing: normal;
  }

  .text-24-semibold {
    @apply text-xl font-semibold lg:text-2xl wide:text-3xl;
    letter-spacing: normal;
  }

  .text-24-bold {
    @apply text-xl font-bold lg:text-2xl wide:text-3xl;
    letter-spacing: normal;
  }

  /* Text 26px */
  .text-26-light {
    @apply text-2xl font-normal lg:text-3xl wide:text-4xl;
    letter-spacing: normal;
  }

  .text-26 {
    @apply text-2xl font-medium lg:text-3xl wide:text-4xl;
    letter-spacing: normal;
  }

  .text-26-semibold {
    @apply text-2xl font-semibold lg:text-3xl wide:text-4xl;
    letter-spacing: normal;
  }

  .text-26-bold {
    @apply text-2xl font-bold lg:text-3xl wide:text-4xl;
    letter-spacing: normal;
  }

  /* Text 28px */
  .text-28-light {
    @apply text-3xl font-normal lg:text-4xl wide:text-5xl;
    letter-spacing: normal;
  }

  .text-28 {
    @apply text-3xl font-medium lg:text-4xl wide:text-5xl;
    letter-spacing: normal;
  }

  .text-28-semibold {
    @apply text-3xl font-semibold lg:text-4xl wide:text-5xl;
    letter-spacing: normal;
  }

  .text-28-bold {
    @apply text-3xl font-bold lg:text-4xl wide:text-5xl;
    letter-spacing: normal;
  }

  /* Text 32px */
  .text-32-light {
    @apply text-3xx font-normal lg:text-5xl wide:text-6xl;
    letter-spacing: normal;
  }
  .text-32 {
    @apply text-3xx font-medium lg:text-5xl wide:text-6xl;
    letter-spacing: normal;
  }
  .text-32-semibold {
    @apply text-3xx font-semibold lg:text-5xl wide:text-6xl;
    letter-spacing: normal;
  }
  .text-32-bold {
    @apply text-3xx font-bold lg:text-5xl wide:text-6xl;
    letter-spacing: normal;
  }

  .text-36 {
    @apply text-4xl font-medium lg:text-5xl wide:text-6xl;
    letter-spacing: normal;
  }

  .text-36-semibold {
    @apply text-4xl font-semibold lg:text-5xl wide:text-6xl;
    letter-spacing: normal;
  }

  .text-36-bold {
    @apply text-4xl font-bold lg:text-5xl wide:text-6xl;
    letter-spacing: normal;
  }

  /* Text 40px */
  .text-40-light {
    @apply text-5xl font-normal lg:text-6xl wide:text-7xl;
    letter-spacing: normal;
  }

  .text-40 {
    @apply text-5xl font-medium lg:text-6xl wide:text-7xl;
    letter-spacing: normal;
  }

  .text-40-semibold {
    @apply text-5xl font-semibold lg:text-6xl wide:text-7xl;
    letter-spacing: normal;
  }

  .text-40-bold {
    @apply text-5xl font-bold lg:text-6xl wide:text-7xl;
    letter-spacing: normal;
  }

   /* Text 72px */
   .text-72-light {
    @apply font-normal text-13xl lg:text-14xl wide:text-15xl;
    letter-spacing: normal;
  }

  .text-72 {
    @apply font-medium text-13xl lg:text-14xl wide:text-15xl;
    letter-spacing: normal;
  }

  .text-72-semibold {
    @apply font-semibold text-13xl lg:text-14xl wide:text-15xl;
    letter-spacing: normal;
  }

  .text-72-bold {
    @apply font-bold text-13xl lg:text-14xl wide:text-15xl;
    letter-spacing: normal;
  }
}

/* Override swiper button hidden to hide button instead to fix Carousel when buttonsOutside is enabled */
.swiper-button-lock {
  display: unset !important;
  visibility: hidden;
}

/* mapbox-gl */
.mapboxgl-map {
  border-radius: 10px;
}
.one-line-text {
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}

.two-line-text{
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
