@tailwind base;
@tailwind components;
@tailwind componentsToLogin;
@tailwind utilities;

/* Text 8px */
.text-8-light {
  @apply wide:text-xs text-[8px] font-normal lg:text-[10px];
  letter-spacing: normal;
}
.text-8 {
  @apply wide:text-xs text-[8px] font-medium lg:text-[10px];
  letter-spacing: normal;
}
.text-8-semibold {
  @apply wide:text-xs text-[8px] font-semibold lg:text-[10px];
  letter-spacing: normal;
}
.text-8-bold {
  @apply wide:text-xs text-[8px] font-bold lg:text-[10px];
  letter-spacing: normal;
}

/* Text 10px */
.text-10-light {
  @apply wide:text-sm text-[10px] font-normal lg:text-xs;
  letter-spacing: normal;
}
.text-10 {
  @apply wide:text-sm text-[10px] font-medium lg:text-xs;
  letter-spacing: normal;
}
.text-10-semibold {
  @apply wide:text-sm text-[10px] font-semibold lg:text-xs;
  letter-spacing: normal;
}
.text-10-bold {
  @apply wide:text-sm text-[10px] font-bold lg:text-xs;
  letter-spacing: normal;
}

/* Text 12px */
.text-12-light {
  @apply wide:text-base text-xs font-normal lg:text-sm;
  letter-spacing: normal;
}
.text-12 {
  @apply wide:text-base text-xs font-medium lg:text-sm;
  letter-spacing: normal;
}
.text-12-semibold {
  @apply wide:text-base text-xs font-semibold lg:text-sm;
  letter-spacing: normal;
}
.text-12-bold {
  @apply wide:text-base text-xs font-bold lg:text-sm;
  letter-spacing: normal;
}

/* Text 13px */
.text-13-light {
  @apply wide:text-[17px] text-[13px] font-normal lg:text-[15px];
  letter-spacing: normal;
}
.text-13 {
  @apply wide:text-[17px] text-[13px] font-medium lg:text-[15px];
  letter-spacing: normal;
}
.text-13-semibold {
  @apply wide:text-[17px] text-[13px] font-semibold lg:text-[15px];
  letter-spacing: normal;
}
.text-13-bold {
  @apply wide:text-[17px] text-[13px] font-bold lg:text-[15px];
  letter-spacing: normal;
}

/* Text 14px */
.text-14-light {
  @apply wide:text-md text-sm font-normal lg:text-base;
  letter-spacing: normal;
}
.text-14 {
  @apply wide:text-md text-sm font-medium lg:text-base;
  letter-spacing: normal;
}
.text-14-semibold {
  @apply wide:text-md text-sm font-semibold lg:text-base;
  letter-spacing: normal;
}
.text-14-bold {
  @apply wide:text-md text-sm font-bold lg:text-base;
  letter-spacing: normal;
}

/* Text 16px */
.text-16-light {
  @apply wide:text-lg text-base font-normal lg:text-md;
  letter-spacing: normal;
}
.text-16 {
  @apply wide:text-lg text-base font-medium lg:text-md;
  letter-spacing: normal;
}
.text-16-semibold {
  @apply wide:text-lg text-base font-semibold lg:text-md;
  letter-spacing: normal;
}
.text-16-bold {
  @apply wide:text-lg text-base font-bold lg:text-md;
  letter-spacing: normal;
}

/* Text 18px */
.text-18-light {
  @apply wide:text-xl text-md font-normal lg:text-lg;
  letter-spacing: normal;
}
.text-18 {
  @apply wide:text-xl text-md font-medium lg:text-lg;
  letter-spacing: normal;
}
.text-18-semibold {
  @apply wide:text-xl text-md font-semibold lg:text-lg;
  letter-spacing: normal;
}
.text-18-bold {
  @apply wide:text-xl text-md font-bold lg:text-lg;
  letter-spacing: normal;
}

/* Text 20px */
.text-20-light {
  @apply wide:text-2xl text-lg font-normal lg:text-xl;
  letter-spacing: normal;
}
.text-20 {
  @apply wide:text-2xl text-lg font-medium lg:text-xl;
  letter-spacing: normal;
}
.text-20-semibold {
  @apply wide:text-2xl text-lg font-semibold lg:text-xl;
  letter-spacing: normal;
}
.text-20-bold {
  @apply wide:text-2xl text-lg font-bold lg:text-xl;
  letter-spacing: normal;
}

/* Text 22px */
.text-22-light {
  @apply wide:text-3xl text-xl font-normal lg:text-2xl;
  letter-spacing: normal;
}
.text-22 {
  @apply wide:text-3xl text-xl font-medium lg:text-2xl;
  letter-spacing: normal;
}
.text-22-semibold {
  @apply wide:text-3xl text-xl font-semibold lg:text-2xl;
  letter-spacing: normal;
}
.text-22-bold {
  @apply wide:text-3xl text-xl font-bold lg:text-2xl;
  letter-spacing: normal;
}

/* Text 24px */
.text-24-light {
  @apply wide:text-4xl text-2xl font-normal lg:text-3xl;
  letter-spacing: normal;
}
.text-24 {
  @apply wide:text-4xl text-2xl font-medium lg:text-3xl;
  letter-spacing: normal;
}
.text-24-semibold {
  @apply wide:text-4xl text-2xl font-semibold lg:text-3xl;
  letter-spacing: normal;
}
.text-24-bold {
  @apply wide:text-4xl text-2xl font-bold lg:text-3xl;
  letter-spacing: normal;
}

/* Text 28px */
.text-28-light {
  @apply wide:text-5xl text-3xl font-normal lg:text-4xl;
  letter-spacing: normal;
}
.text-28 {
  @apply wide:text-5xl text-3xl font-medium lg:text-4xl;
  letter-spacing: normal;
}
.text-28-semibold {
  @apply wide:text-5xl text-3xl font-semibold lg:text-4xl;
  letter-spacing: normal;
}
.text-28-bold {
  @apply wide:text-5xl text-3xl font-bold lg:text-4xl;
  letter-spacing: normal;
}

/* Text 32px */
.text-32-light {
  @apply wide:text-6xl text-4xl font-normal lg:text-5xl;
  letter-spacing: normal;
}
.text-32 {
  @apply wide:text-6xl text-4xl font-medium lg:text-5xl;
  letter-spacing: normal;
}
.text-32-semibold {
  @apply wide:text-6xl text-4xl font-semibold lg:text-5xl;
  letter-spacing: normal;
}
.text-32-bold {
  @apply wide:text-6xl text-4xl font-bold lg:text-5xl;
  letter-spacing: normal;
}

/* Text 36px */
.text-36-light {
  @apply lg:text-6xl wide:text-7xl text-5xl font-normal;
  letter-spacing: normal;
}
.text-36 {
  @apply lg:text-6xl wide:text-7xl text-5xl font-medium;
  letter-spacing: normal;
}
.text-36-semibold {
  @apply lg:text-6xl wide:text-7xl text-5xl font-semibold;
  letter-spacing: normal;
}
.text-36-bold {
  @apply lg:text-6xl wide:text-7xl text-5xl font-bold;
  letter-spacing: normal;
}

.ruby-text {
  display: ruby-text;
}

.two-lines-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.one-lines-text {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
