@tailwind components;

@layer components {
}

.mouse-tooltip > .mapboxgl-popup-content {
  padding: 4px;
  background-color: rgba(100, 100, 100, 0.75);
  color: white;
}

.mouse-tooltip > .mapboxgl-popup-tip {
  border-right-color: rgba(100, 100, 100, 0.75) !important;
  border-width: 6px;
}

.popup-content-map {
  width: max-content;
}

.popup-map {
  max-width: 295px !important;
  padding: 0;
}

.popup-map .mapboxgl-popup-content {
  padding: 0;
}

.popup-map .mapboxgl-popup-close-button {
  font-size: 25px;
  color: #718184;
  top: 6px;
  right: 10px;
}

.custom-popup-close-button {
  .mapboxgl-popup-tip {
    border: 6px solid #0c33f000;
  }

  .mapboxgl-popup-close-button {
    font-size: 24px;
    color: #637579;
    border: 1px solid #637579;
    width: 24px;
    height: 24px;
    font-family: serif;
    border-radius: 50%;
    line-height: 1px;
    font-weight: 600;
    background-color: white;
    top: -10px;
    right: -10px;
  }

  .mapboxgl-popup-close-button:hover {
    background-color: #f2f2f2;
  }
}
