.chakra-spinner {
  display: inline-block;
  width: var(--spinner-size, 1.5rem);
  height: var(--spinner-size, 1.5rem);
  border-width: 2px;
  border-style: solid;
  border-radius: 9999px;
  border-color: currentColor currentColor transparent transparent;
  animation: chakra-spinner-spin 0.5s linear infinite;
}

@keyframes chakra-spinner-spin {
  100% {
    transform: rotate(360deg);
  }
}

[data-scope="dialog"][data-part="backdrop"] {
  background: #000000b2 !important;
}

.no-ghost-dragging img,
.no-ghost-dragging div,
.no-ghost-dragging>img,
.no-ghost-dragging>div {
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
  user-drag: none;
  -webkit-user-select: none;
  user-select: none;
}

.chakra-dialog__footer {
  padding: 0px !important;
}

.chakra-slider__thumb {
  z-index: 2 !important;
}