@tailwind utilities;

@layer utilities {
  .border-dashed-2 {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='12' ry='12' stroke='%23D8D8D8FF' stroke-width='1' stroke-dasharray='14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  }

  .scroll-indicator-hide::-webkit-scrollbar {
    display: none;
  }

  .font-inherit {
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    line-height: inherit;
    word-spacing: inherit;
  }

  /* Heading */
  .text-heading-2000 {
    @apply text-5xl font-bold font-primary;
    letter-spacing: normal;
  }

  .text-heading-1000 {
    @apply text-4xl font-bold font-primary;
    letter-spacing: normal;
  }

  .text-bold-headline-1000 {
    @apply text-4xl font-bold font-primary;
    letter-spacing: normal;
  }

  .text-bold-headline-800 {
    @apply text-3xl font-bold font-primary;
    letter-spacing: normal;
  }

  .text-heading-700 {
    @apply text-4xl font-bold font-primary;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
  }

  .text-heading-600 {
    @apply text-3xl font-bold font-primary;
    letter-spacing: normal;
  }

  .text-heading-500 {
    @apply text-2xl font-bold font-primary;
    line-height: 2rem; /* 32px */
    letter-spacing: 1.12408px;
  }

  .text-bold-subtitle-400 {
    @apply text-lg font-bold font-primary;
  }

  .text-bold-subtitle-500 {
    @apply font-primary text-lg font-bold leading-[26px] tracking-wide;
  }

  .text-bold-subtitle-600 {
    @apply text-2xl font-bold font-primary;
  }

  .text-light-subtitle-400 {
    @apply text-md font-light leading-[27px];
  }

  .text-bold-subtitle-400 {
    @apply font-bold leading-normal text-md;
  }

  .text-heading-400 {
    @apply text-xl font-light font-primary;
    line-height: 1.5rem; /* 32px */
  }

  .text-heading-300 {
    @apply text-lg font-bold font-primary;
    line-height: 1.625rem; /* 26px */
    letter-spacing: 0.4px;
  }

  .text-heading-200 {
    @apply font-bold font-primary text-md;
    letter-spacing: normal;
  }

  .text-heading-100 {
    @apply font-light font-primary text-md;
    letter-spacing: 0.45px;
  }

  /* Caption */
  .text-bold-caption-200 {
    @apply text-sm font-bold leading-5 font-primary;
    font-style: normal;
  }

  .text-light-caption-200 {
    @apply text-sm font-light leading-5 font-primary;
    font-style: normal;
  }

  .text-bold-caption-100 {
    @apply text-xs font-bold leading-5 font-primary;
    font-style: normal;
  }

  /* Body */
  .text-body-1200 {
    @apply text-base font-bold font-primary;
    line-height: 1.375rem; /* 22px */
    letter-spacing: 0.666667px;
  }

  .text-body-1100 {
    @apply text-base font-bold font-secondary;
    line-height: 1.5rem; /* 24px */
  }

  .text-body-1000 {
    @apply text-base font-normal font-secondary;
    line-height: 1.5rem; /* 24px */
  }

  .text-body-900 {
    @apply text-base font-bold font-primary;
    line-height: 1.375rem; /* 22px */
    letter-spacing: 0.666667px;
  }

  .text-body-800 {
    @apply text-base font-normal font-primary;
    line-height: 1.5rem; /* 24px */
  }

  .text-body-700 {
    @apply text-base font-light font-primary;
    letter-spacing: 0.666667px;
  }

  .text-body-600 {
    @apply text-base font-light font-primary;
    line-height: 1.375rem; /* 22px */
  }

  .text-body-500 {
    @apply text-sm font-bold font-primary;
    letter-spacing: normal;
  }

  .text-body-400 {
    @apply text-sm font-normal font-primary;
    letter-spacing: normal;
  }

  .text-body-300 {
    @apply text-sm font-light font-primary;
    letter-spacing: normal;
  }

  .text-bold-body-300 {
    @apply text-base font-bold leading-snug tracking-wide;
  }

  .text-light-body-300 {
    @apply text-base font-light leading-snug;
  }

  .text-body-200 {
    @apply text-sm font-normal font-secondary;
    line-height: 1.188rem; /* 19px */
  }

  .text-body-100 {
    @apply text-xs font-bold font-primary;
    line-height: 1.188rem; /* 19px */
  }

  /* Button */
  .text-button-400 {
    @apply text-base font-bold font-primary;
    line-height: 1rem; /* 16px */
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .text-button-300 {
    @apply text-sm font-bold font-primary;
    line-height: 1rem; /* 16px */
    text-transform: uppercase;
  }

  .text-button-200 {
    @apply text-sm font-light font-primary;
    letter-spacing: normal;
  }

  .text-button-100 {
    @apply text-xs font-bold font-primary;
    line-height: 1.188rem; /* 19px */
  }

  .text-bold-caption-200 {
    @apply text-sm font-bold font-primary;
  }

  /* Swiper */
  .swiper-button-next,
  .swiper-button-prev {
    @apply flex items-center justify-center border border-solid rounded-full border-primary-400 bg-neutral-900;
  }

  .swiper-button-next:after,
  .swiper-button-prev:after {
    content: "" !important;
  }

  .swiper-pagination-bullet-active {
    @apply !bg-black opacity-100;
  }

  /* Borders */
  .border-light {
    @apply border border-black border-opacity-12;
  }

  .border-medium {
    border-width: 1.6px;
    @apply border-opacity-25 border-neutral-500;
  }

  /* With-inner-html */
  .with-inner-html > * {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
  }

  .with-inner-html > *:not(strong, b) {
    font-weight: inherit;
  }
  .with-inner-html a {
    @apply underline text-primary;
  }

  .with-inner-html h1 {
    @apply mb-2 text-bold-headline-1000;
  }

  .with-inner-html h2 {
    @apply mb-4 text-bold-subtitle-500;
  }

  .with-inner-html p {
    @apply mb-8 text-light-body-300;
  }

  .with-inner-html p:last-child {
    @apply mb-0;
  }

  .with-inner-html hr {
    @apply my-8 text-neutral-200;
  }

  .with-inner-html ul,
  .with-inner-html ol {
    @apply space-y-3;
  }
  .with-inner-html ul > li {
    @apply flex gap-3;
  }

  .with-inner-html ul > li::before {
    content: "â—";
    @apply text-xl leading-none text-secondary;
  }

  .with-inner-html ol > li {
    @apply ml-3 list-decimal;
  }
}

/* Override swiper button hidden to hide button instead to fix Carousel when buttonsOutside is enabled */
.swiper-button-lock {
  display: unset !important;
  visibility: hidden;
}
