@tailwind components;

@layer components {
}

.mouse-tooltip > .mapboxgl-popup-content {
  padding: 4px;
  background-color: rgba(100, 100, 100, 0.75);
  color: white;
}

.mouse-tooltip > .mapboxgl-popup-tip {
  border-right-color: rgba(100, 100, 100, 0.75) !important;
  border-width: 6px;
}

.popup-content-map {
  width: max-content;
}

.popup-map {
  max-width: 295px !important;
  padding: 0;
}

.popup-map .mapboxgl-popup-content {
  padding: 0;
}

.popup-map .mapboxgl-popup-tip {
  display: none;
}
.mapboxgl-popup.no-tip .mapboxgl-popup-tip {
  display: none;
}
.popup-map .mapboxgl-popup-close-button {
  font-size: 25px;
  color: #718184;
  top: 6px;
  right: 10px;
}

.popup-content-map:has(.popup-project:first-child) + .mapboxgl-popup-close-button {
  top: 10px;
  right: 10px;
  background-color: #637579;
  color: white;
  width: 20px;
  height: 20px;
  font-size: 18px;
  opacity: 0.5;
}

.mapboxgl-popup-content {
  border-radius: 8px !important;
}

.custom-popup-close-button {
  .mapboxgl-popup-tip {
    border: 6px solid #0c33f000;
  }

  .mapboxgl-popup-close-button {
    font-size: 24px;
    color: #637579;
    border: 1px solid #637579;
    width: 24px;
    height: 24px;
    font-family: serif;
    border-radius: 50%;
    line-height: 1px;
    font-weight: 600;
    background-color: white;
    top: -10px;
    right: -10px;
  }

  .mapboxgl-popup-close-button:hover {
    background-color: #f2f2f2;
    color: #27a9e0;
    border: 1px solid #27a9e0;
  }
}
.custom-popup-close-button :has(.popup-project-image-map) .mapboxgl-popup-close-button {
  top: 8px !important;
  right: 8px !important;
  background: #ffffff66 !important;
}
.custom-popup-close-button :has(.popup-project-image-map) .mapboxgl-popup-close-button:hover {
  background: white !important;
}
.modal-impact-story-content iframe,
.modal-impact-story-content .ql-video {
  width: 100% !important;
  aspect-ratio: 16/9 !important;
  max-width: 100% !important;
  height: auto !important;
}

@supports not (aspect-ratio: 16/9) {
  .modal-impact-story-content iframe,
  .modal-impact-story-content .ql-video {
    height: 0 !important;
    padding-bottom: 56.25% !important;
    position: relative !important;
  }

  .modal-impact-story-content iframe,
  .modal-impact-story-content .ql-video iframe {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
  }
}

@media (min-width: 1500px) {
  .modal-impact-story-content iframe,
  .modal-impact-story-content .ql-video {
    max-width: 75% !important;
    margin: 0 auto !important;
    display: block !important;
  }
}

.modal-impact-story-content p {
  margin-bottom: 6px;
}
