* {
  @apply text-base font-light font-primary;
}

input[type="radio"] {
  -webkit-appearance: none;
  @apply h-5 w-5 rounded-[50%] border-2 border-solid border-neutral-500 outline-none transition-all duration-300 ease-in-out checked:border-primary-500;
}

input[type="radio"]:checked {
  @apply bg-white border-primary-500;
}

input[type="radio"]:before {
  content: "";
  @apply my-[12%] mx-auto block h-[75%] w-[75%] rounded-[50%] transition-all duration-300 ease-in-out;
}

input[type="radio"]:checked:before {
  @apply bg-primary-500;
}

input[type="radio"]:hover,
input[type="radio"]:focus {
  @apply !border-primary-500 text-transparent;
  box-shadow: none;
}

.content-login:focus-within .label-login,
.input-login:not(:placeholder-shown) + .label-login {
  transform: translate(0, -108%) scale(1);
}

.input-content-login .label-login {
  transform: translate(0, -108%) scale(1) !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.lastRow:last-child>:last-child{
  @apply rounded-br-lg
}

.lastRow:last-child>:first-child{
  @apply rounded-bl-lg
}

strong {
  font-size: inherit
}


@import url("./extended-base.css");
@import url("./extended-utilities.css");
@import url("./extended-components.css");
@import url("./custom-admin-page-styles.css");
