.leaflet-div-icon {
  background: #27a9e0;
  border: 2px solid #27a9e0;
  border-radius: 50%;
}
.leaflet-touch .leaflet-control-layers {
  border: 0 !important;
}
.leaflet-touch .leaflet-bar {
  border: solid 1px #c5c5bf;
}
.leaflet-draw {
  margin-top: 0 !important;
  margin-right: 10px !important;
}
.leaflet-draw .leaflet-draw-toolbar,
.leaflet-draw .leaflet-draw-section {
  border: 0;
}
.leaflet-draw .leaflet-draw-toolbar .leaflet-bar,
.leaflet-draw .leaflet-draw-section .leaflet-bar {
  border: 0;
}
.leaflet-draw .leaflet-draw-toolbar .leaflet-draw-actions,
.leaflet-draw .leaflet-draw-section .leaflet-draw-actions {
  right: 36px !important;
}
.leaflet-draw .leaflet-draw-toolbar .leaflet-draw-actions li a,
.leaflet-draw .leaflet-draw-section .leaflet-draw-actions li a {
  border-radius: 0px;
  color: black;
  width: auto;
  border: solid 1px #c5c5bf;
  border-left-width: 1px;
  border-right-width: 0px;
  background-color: white;
}
.leaflet-draw .leaflet-draw-toolbar .leaflet-draw-actions li:first-child a,
.leaflet-draw .leaflet-draw-section .leaflet-draw-actions li:first-child a {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-left: solid 1px #c5c5bf;
}
.leaflet-draw .leaflet-draw-toolbar .leaflet-draw-actions li:last-child a,
.leaflet-draw .leaflet-draw-section .leaflet-draw-actions li:last-child a {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-right: solid 1px #c5c5bf;
}
.leaflet-draw .leaflet-draw-toolbar .leaflet-draw-toolbar a,
.leaflet-draw .leaflet-draw-section .leaflet-draw-toolbar a {
  display: block;
  width: 30px;
  height: 30px;
  background-color: white;
  margin-bottom: 2px;
  cursor: pointer;
  border: solid 1px #c5c5bf;
  border-radius: 4px;
  background-position: center !important;
  background-size: 55% !important;
  background-repeat: no-repeat !important;
  background-origin: content-box !important;
}
.leaflet-draw .leaflet-draw-toolbar .leaflet-draw-draw-polygon,
.leaflet-draw .leaflet-draw-section .leaflet-draw-draw-polygon {
  background-image: url("/images/map/polygon.svg") !important;
}
.leaflet-draw .leaflet-draw-toolbar .leaflet-draw-draw-circle,
.leaflet-draw .leaflet-draw-section .leaflet-draw-draw-circle {
  background-image: url("/images/map/circle-drag.svg") !important;
}
.leaflet-draw .leaflet-draw-toolbar .leaflet-draw-draw-marker,
.leaflet-draw .leaflet-draw-section .leaflet-draw-draw-marker {
  background-image: url("/images/map/marker.svg") !important;
}
.leaflet-draw .leaflet-draw-toolbar .leaflet-draw-draw-circlemarker,
.leaflet-draw .leaflet-draw-section .leaflet-draw-draw-circlemarker {
  background-image: url("/images/map/circle-modal.svg") !important;
}
.leaflet-draw .leaflet-draw-toolbar .leaflet-draw-edit-edit,
.leaflet-draw .leaflet-draw-section .leaflet-draw-edit-edit {
  background-image: url("/images/map/edit.png") !important;
}
.leaflet-draw .leaflet-draw-toolbar .leaflet-draw-edit-remove,
.leaflet-draw .leaflet-draw-section .leaflet-draw-edit-remove {
  background-image: url("/images/map/trash.svg") !important;
}
.leaflet-touch .leaflet-draw-actions a {
  line-height: 20px;
  height: 20px;
}
.leaflet-control-attribution {
  display: none;
}
.leaflet-disabled {
  opacity: 0.7;
}
.leaflet-control-layers-expanded {
  padding: 0 !important;
}
.leaflet-control-layers-base {
  display: flex;
  border-radius: 6px;
  border: solid 1px #c5c5bf;
  background-color: white;
}
.leaflet-control-layers-base .leaflet-control-layers-selector {
  display: none;
}
.leaflet-control-layers-base .leaflet-control-layers-selector:checked + span {
  font-weight: bold;
}
.leaflet-control-layers-base .leaflet-control-layers-selector:focus + span {
  outline-style: auto;
  outline: auto;
}
.leaflet-control-layers-base label > span {
  min-width: 75px;
  text-align: center;
  display: inline-block;
  padding: 5px 0px;
  cursor: pointer;
}
.leaflet-control-layers-base label:not(:last-of-type) > span {
  border-right: solid 1px #c5c5bf;
}
.leaflet-control-zoom-in span,
.leaflet-control-zoom-out span {
  font-size: 22px !important;
  font-weight: 700;
}
