$gold: #F0AB00 !default;
$blue: #27A9E0 !default;
$black: #000000 !default;
$grey: #9B9B9B !default;

$green: #A0FF1F !default;
$pink: #F70087 !default;
$white: #FFFFFF !default;
$darkGrey: #2a2a2a;
$midGrey: #f3f3f3 !default;
$lightGrey: #F5F5F5 !default;
$red: #e13737;

$borderColor: #C3C3C3;

$success: #009688;
$error: #d50000;

$form-input: darken(#D0D0D0, 15%);
$form-input-active: $success;
$form-input-error: $error;

$language-picker-background: #F5F5F5;
$drop-down-focus: #EEEEEE;
